# Tool Specific files, directories and extensions:
BGM/
*.PAC
*.npsf
*.acd
*.dat
*.wav
*.exe
*.bat

Organizer Projects/
-Organizer Projects/ACZ_RADIOUSA

PARSER/
UNPACKER/

# Others:

.idea/
venv/
Lib/
pyvenv.cfg
Scripts/
